
// Colores

    $primary: #7E22CE;
    $secondary: #334155;
    $info: #22D3EE;
    $light: #F1F5F9;
    $dark: #0F172A;

    // Tipografía

    $font-family-sans-serif: 'Poppins', sans-serif;
    $font-size-base: 0.875rem;
    $body-color: #1E293B;

    $modal-backdrop-opacity:            .60;