
// Iconos Bootstrap

    .bi-1x{	font-size: 1.25rem; }
    .bi-2x{	font-size: 2rem; }
    .bi-3x{	font-size: 3rem; }
    .bi-4x{	font-size: 4rem; }

// General

.w-canvas{
    width: 75%;
}


@include media-breakpoint-up(lg){

    .w-canvas{
        width: 20%;
    }

}